body {
    padding: 20px;
    border: 2px, darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.navbar{
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.nav-content{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

.nav-content a{
    background-color: silver;
    padding: 4px 15px; 
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    transition: color 0.25s;
}

.nav-content a:hover{
    color:white;
}

.banner{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 20px;
}

.banner h2{
    padding: 5px 0px;
}