html {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

body {
    width: 800px;
    padding: 20px;
    border: 2px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 600px){
    .banner {
        background-color: red;
    }
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-content{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 5%;
    gap: 5px;
}

.nav-content a{
    background-color: silver;
    padding: 4px 18px;
    color: black;
    text-decoration: none;
    transition: color 0.125s;
}

.nav-content a:hover{
    color:#f0f0f0;
}

.banner, .footer{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 30px 2rem;
}
.banner h1{
    font-size: 1.6rem;
}

.banner h3{
    font-size: 1.1rem;
}


.home-buttons, .testimonials{
    padding: 8px 20px 25px;
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 5px;
    width: 92%;
}

.home-buttons p{
    font-size: 1.05rem;
    text-align: justify;
}

.webputtons{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.testimonials{
    padding: 10px 20px 25px;
    font-size: 1.1rem;
}


#email{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    font-size: 0.9rem;
    width: 98%;
    padding: 8px;
    z-index: 1;
}


.footer-button{
    border: none;
    background-color: transparent;
    color: white;
    padding-top: 5px;
    font-weight:500;
    text-align: center;
}

#back-to-top{
    color:black;
    padding-top: 10px;
}

.footer-button:hover, #back-to-top:hover{
    color: #eeeeee;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}