html {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

body {
    width: 800px;
    padding: 20px;
    border: 2px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

@media (max-width: 600px){
    .banner {
        background-color: red;
    }
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-content{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 5%;
    gap: 5px;
}

.nav-content a{
    background-color: silver;
    padding: 4px 18px;
    color: black;
    text-decoration: none;
    transition: color 0.25s;
}

.nav-content a:hover{
    color:white;
}

.banner{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 0.5rem 30px 2rem;
}

.banner h3{
    font-size: 1.1rem;
}


.placeholder{
    padding: 2px;
    background-color: #f0f0f0;
    margin-top: 20px;
    border-radius: 5px;
    /*padding: 100px;*/
}

.webputtons{
    max-width: 100%;
    max-height: 100%;
}