html {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

body {
    width: 800px;
    padding: 20px;
    border: 2px solid darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 600px){
    .banner {
        background-color: red;
    }
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-content{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 5%;
    gap: 5px;
}

.nav-content a{
    background-color: silver;
    padding: 4px 18px;
    color: black;
    text-decoration: none;
    transition: color 0.125s;
}

.nav-content .active-link{
    color: white;
}

.nav-content a:hover{
    color:#f0f0f0;
}

.banner, .footer{
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 30px 2rem;
}
.banner h1{
    font-size: 1.6rem;
}

.banner h3{
    font-size: 1.1rem;
}


.hero, .testimonials, .table-container{
    padding: 8px 20px 25px;
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 5px;
    width: 92%;
    margin-bottom: 30px;
    margin-top: 5px;
}

.bordered{
    border: 1px solid lightgray;
}

.justified-text{
    font-size: 1.05rem;
    text-align: justify;
}

.hero-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.testimonials{
    padding: 10px 20px 25px;
    font-size: 1.1rem;
}

.table-container{
    display: flex;
    flex-direction: column; 
}

.table-container tr:nth-of-type(odd){
    background-color:#e6f7ff
}

.product-table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.05rem;
    border: 1px solid gray;
}

.product-table th, .product-table td{
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
    border-collapse: colapse;
    padding: 10px;
}

.contact-form{
    width: 80%;
    margin: auto;
    padding: 10px 50px 35px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contact-form label{
    padding: 20px 0 0;
}

.contact-form input, .contact-form textarea {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    font-size: 0.9rem;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-submit{
    margin-top: 20px;
    padding: 9px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 17%
}

.email-footer{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    font-size: 0.9rem;
    width: 98%;
    padding: 8px;
}


.footer-button{
    border: none;
    background-color: transparent;
    color: white;
    padding-top: 5px;
    font-weight:500;
    text-align: center;
}

#back-to-top{
    color:black;
    padding-top: 10px;
}

.footer-button:hover, #back-to-top:hover{
    color: #eeeeee;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}